body {
  background-color: #333;
}
.App {
  margin: 1rem;
  text-align: center;
}

/* HEADER */
header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
header img{
  width: 20rem;
}

/* Les boutons sur la page d'accueil */
.link {
  color: black;
}
.btnRemplir, .btnListe {
  display: inline-block;
  position: relative;
  background-color: aliceblue;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 35rem;
  height: 15rem;
  border: 0.5rem solid #54AD3F;
}
.btnRemplir h2, .btnListe h2 {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 40%;
  left: 50%;
}

